<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" style="text-align:center">Ramazon Fluffy Plushie Store</h1>
            <p style="text-align:center">This part of the site is under construction.</p>
            <p style="text-align:center">Please check again for more info at a later date.</p> <iframe class="displayed" src="https://open.spotify.com/embed/playlist/5gFs5q2UDD7zcYJ9rSO8Jp" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe src="http://cdn.lowgif.com/full/8d04ce0867e1332c-wind-by-huiro-fur-affinity-dot-net.gif" width="480" height="320" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
            <p style="text-align:center; margin-top:10px; color: #0a0a0a">Here is some music for your listening pleasure while you wait for construction to be finished. May take awhile so don't stick around too long.</p>

        </div>
    </div>
</main>
<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>