<!DOCTYPE html>
<!-- TODO(): Update spring security to version 5 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Log in</title>
    <div th:replace="/fragments/header :: header"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/custom.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="fragments/navbar"/>
</div>
<div class="container">
    <h2 style="text-align:center">Welcome!</h2>
    <form th:action="@{/login}" method="post"><br/>
        <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/> <br/>
        <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/>
        <div align="center" th:if="${param.error}">
            <h4 style="color: red">Login unsuccessful.</h4>
        </div>
        <button class="btn btn-md btn-dark btn-block" name="Submit" value="Login" type="Submit">Log in</button>
    </form>
    <form th:action="@{/signup}" method="post"><br/>
        <button class="btn btn-md btn-dark btn-block" name="Submit" value="Submit" type="Submit">Sign up</button>
    </form>

</div>
<div th:replace = "/fragments/footer :: scripts"></div>
<div th:replace = "/fragments/footer :: copy"></div>
</body>
</html>


