<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weather/LocalMap</title>
    <link rel="stylesheet" type="text/css" href="/custom.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!--        <link rel="stylesheet" href="/custom.css">-->

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="index.html"><strong>Shreveport</strong>Smart City Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Festivals.html"><i class="fas fa-user"></i>Festivals</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Other Links
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="Entertainment.html">Entertainment</a>
                    <a class="dropdown-item" href="weather">Local Weather/Map</a>
                    <a class="dropdown-item" href="hotel.html">Hotels</a>
                    <a class="dropdown-item" href="rest.html">Restaurants</a>
                    <a class="dropdown-item" href="https://spotcrime.com/LA/Shreveport">Spot Crime</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--//weather 7day forecast widget-->
<a class="weatherwidget-io" href="https://forecast7.com/en/32d53n93d75/shreveport/?unit=us"
   data-label_1="SHREVEPORT"
   data-label_2="Lousiana" data-font="Ubuntu" data-icons="Climacons Animated" data-mode="Forecast"
   data-theme="desert">SHREVEPORT
    Louisiana</a>
<!--//weather 7day forecast widget END-->
<h1 style="text-align: center;">Shreveport Map/Weather</h1>
<!--//MAP Jumbotron Beginning-->
<div class="jumbotron jumbotron">
    <div class="container">
        <div class="row">
            <div class="span6" style="float: none; margin: 0 auto;">
                <br/>
                <h1 class="text-center">Smart City Search</h1>
                <form th:action="@{/weather}" th:object="${location}" method="post" autocomplete="off"
                      class="form-inline">
                    <div class="form-group">
                        <input type="text" th:field="*{city}" placeholder="City" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{state}" placeholder="State" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-md btn-primary btn-block" name="Submit" value="Submit" type="Submit">
                            Update Map
                        </button>
                    </div>
                </form>
                <br/>
            </div>
        </div>
    </div>
</div>
<!--//MAP Jumbotron End-->
<!-- Shreveport Smart City Google Map Content -->
<div id="map"></div>
<div id="infowindow-content"></div>
<!--//Jumbotron Shreveport Beginning-->
     <div class="jumbotron">
  <div class ="container">
<div class="row">
    <h1 style="text-align: center;">Welcome to Shreveport!</h1>
    <p style="text-align: center;"> Here you can find information on the maps such as traffic accidents, local weather, and a
        <a href="https://spotcrime.com/LA/Shreveport">link</a> to a crime spotter web page in Shreveport.</p>
    <p style="text-align: center;">Like every newcomer to the area us locals want to make sure you have a good time but make sure your safe as well
        so you can return again another day!</p>
</div>
  </div>
     </div>


<!--Grid row-->
<div class="row ">
    <!--Grid column-->
    <div class="col-md-6 mb-4">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view view-cascade gradient-card-header blue-gradient">
                <h5 class="mb-0">Shreveport map</h5>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body card-body-cascade text-center ">
                <!--Google map-->
                <div id="map-container-google-8" class="z-depth-1-half map-container-5 .mx-auto" style="height: 300px">
                    <iframe src="https://maps.google.com/maps?q=Shreveport&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <!--Grid column-->
</div>
<!--//Jumbotron Shreveport Map End-->
<div class="footer__legal" style="text-align: center; color:#f5f7fa" >&copy; 2021 S.A.A.P.S. Group Five All Rights Reserved.</div>
<!--//scripts to go into a header fragment or body fragment-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let coords = {
        lat: parseFloat(/*[[${location.lat}]]*/) || 32.5122,
        lng: parseFloat(/*[[${location.lng}]]*/) || -93.7492
            };
    let city = /*[[${location.city}]]*/;
    let state = /*[[${location.state}]]*/;
    /*]]>*/
</script>
<script src="/custom.js"></script>
<!--<script th:inline="javascript" src="/custom.js"></script>-->
<script th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + @environment.getProperty('API_KEY') + '&callback=initMap'}}"
        async defer></script>

</body>

</html>