.navbar ul li : : after {
content: '';
height: 3px;
width: 100%;
background: #009688;
position: absolute;
left:0;
bottom: -10px;
transition: 0.5s;
}
.navbar ul li :hover::after {

width:100%;
}

.button:hover span{
width:100%
}
.button: hover{
border: none;
}