@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap');

*{
 box-sizing: border-box;
  }

  .body {
      font-family: sans-serif;
       }

 .image:hover {
   opacity: 0.5;
   transition: .9s;
   }


.column img {
margin-top: 8px;
vertical-align: middle;
object-fit:cover;
width: 100%;
}

.center {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 50;

}
div.column:nth-child(7) > div:nth-child(1) > img:nth-child(1){
  display: block;
  margin-left: auto;
  margin-right: auto;

}
div.column:nth-child(8) > div:nth-child(1){
 width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}




.img {
	horizontal-align: middle;
	border-style: none;
	 display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50;
      height: 50;
}
.wrapper > h1:nth-child(3){
font-size:50px ;
text-align: center;
}
.wrapper > p:nth-child(4){
text-align:center;
font-size:25px;
word-wrap:break-word;
font-family:Novella ;
align-content: center;
}
.wrapper > p:nth-child(5){
text-align:center;
font-size:25px;
word-wrap:break-word;
font-family:Novella ;
align-content: center;
}