<style>
    * {
      box-sizing: border-box;
    }

    .body {
      font-family: sans-serif;
    }

    .image:hover {
      opacity: 0.5;
      transition: .9s;
    }

    /* Clearfix (clear floats)
.row::after {
  content: "";
  clear: both;
  display: table;
} */
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }

    .column img {
      margin-top: 8px;
      vertical-align: middle;
      object-fit: cover;
      width: 100%;
    }


    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        flex: 100%;
        max-width: 100%;
      }
    }

    /* Float four columns side by side

        .photo {
            max-width: 31.333%;
            padding: 0 10px;
            height: 240px;
        }  */
    /* Style the footer */
    footer {
      background-color: rgba(123, 72, 153, 0.822);
      padding: 10px;
      text-align: center;
      color: white;
    }
  </style>

  /***** Wrapper *****/

  .wrapper {
      display: block;
  }

